#player {
  background-color: slategray;
  border: 3px solid green;
}

#machine {
  background-color: slategray;
  border: 3px solid green;
}

#enter-score {
  border: 3px solid green;
}

#submit-score-button {
  cursor: pointer;
}

