a {
  color: greenyellow;
  text-decoration: none;
  text-shadow:
  0 0 3px seagreen,
  0 0 5px seagreen;
}

#scorefield {
  color: orange;
  font-size: 30px;
  font-family: "gas";
  text-shadow:
    0 0 4px orangered,
    0 0 8px orange;
    /* 0 0 21px orange, */
    /* 0 0 42px orange, */
    /* 0 0 80px orange; */
    /* 0 0 92px orange, */
    /* 0 0 102px orange, */
    /* 0 0 151px orange; */

}

